<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hatch_back_AutoFactory" class="org.example.AutoFactory">
        <constructor-arg index="0" value="5"/>
        <constructor-arg index="1" ref="hatch_back_ProductionLine"/>
    </bean>

    <bean id="sedan_AutoFactory" class="org.example.AutoFactory">
        <constructor-arg index="0" value="4"/>
        <constructor-arg index="1" ref="sedan_ProductionLine"/>
    </bean>

    <bean id="sedan_ProductionLine" class="org.example.SedanProductionLine"/>
    <bean id="hatch_back_ProductionLine" class="org.example.HatchBackProductionLine"/>

</beans>